- const tabContentList = [{name: 'Типы', list: ['Интерьерные кровати', 'Односпальные кровати', 'Двухспальные кровати', 'Подростковые кровати', 'Полуторные кровати',]}, {name: 'Материалы', list: ['Мягкие', 'ДСП и МДФ', 'Металл', 'Массив дерева', 'Сосна',]}, {name: 'Спинки', list: ['Без изголовья', 'Без ножной спинки', 'С двумя спинками', 'Уловые спинки', 'Боковые спинки', 'Мякое изголовье', 'Высокое изголовье']}, {name: 'Дизайн', list: ['Классика', 'Модерн', 'С ковкой', 'Резные', 'Простые', 'С коретной стяжкой']}, {name: 'Цвет', list: ['Белый', 'Черный', 'Красный', 'Венге', 'Орех', 'Вишня', 'Бук', 'Ольха', 'Клен','Ясень']}, {name: 'Цены', list: ['Недорогие', 'Со скидкой', 'Элитные', 'С матрасом']},]

.catalogDD
	//- TABS TOGGLE BUTTONS
	ul.catalogDD__tab-buttons
		each tabButton, index in ['Типы кроватей', 'Размеры кроватей', 'Бренды', 'Детские', 'Изголовья', 'Основания и боксы']
			if index == 0
				li.catalogDD__tab-button.catalogDD__tab-button--active= tabButton
			else
				li.catalogDD__tab-button= tabButton

	//- TABS
	.catalogDD__tab-container.tab-container
		- let id = 0
		while id < 6
			- const active = id == 0 ? 'tab--active' : ''

			ul.tab(id=id++, class=active)
				each col in tabContentList
					li.tab__col.t-col
						h4.t-col__title= col.name
						ul.t-col__list
							each item in col.list
								li.t-col__list-item= item



