- const menuList = ["Главная", "Каталог", "Акции", "Гарантии", "Доставка", "Партнерам", "Сертификаты", "Контакты"]

heder.header
	.header__top.container
		img.header__logo(src=imgSrc + 'logo.png')

		//- HEADER RIGHT
		.header__right.mobile-menu
			//- NAVIGATION
			nav.header__nav.nav
				ul.nav__list
					each item in menuList
						li.nav__item= item

			//- INFO BLOCK
			.header__info.h-info
				.h-info__number1
					+phoneNumber(phoneNumber1)
				.h-info__number2
					+phoneNumber(phoneNumber2)
				.h-info__work-time.work-time
					img.work-time__ico(src=icoSrc + "clock.svg")
					span.work-time__text= 'Eжедневно с ' + timeFromWork + ' до ' + timeToWork

			//- SEARCH BLOCK
			.header__search-block
				.header__search
					+search('Поиск мебели')
				a.cart-btn.btn.btn-acent.btn-oval(href='./cart')
					img.cart-btn__ico(src=icoSrc + "cart.svg")
					span 3 товара <br> На 124 601 ₽

		//- HEADER RIGHT - MOBILE
		.header__right.header__right--mobile
			a.cart-btn.cart-btn--mobile.btn.btn-acent.btn-oval.btn-ico
				img.cart-btn__ico(src=icoSrc + 'cart.svg')
			a.burger-btn.burger-btn--mobile.btn.btn-success .btn-oval.btn-ico
				img.burger-btn__ico(src=icoSrc + 'burger.svg')

	//- CATALOG MENU
	.header__catalog.h-catalog
		.container.container--catalog
			.h-catalog__wrapper.mobile-menu
				ul.h-catalog__list
					each item in catalogList
						li.h-catalog__item
							img.h-catalog__item-ico(src=item.icon)
							span.h-catalog__text=item.name
				button.h-catalog_acent-btn.btn.action-btn Распродажа

			//- CATALOG DROP DOWN
			.catalog-DD__wrapper
				include ../parts/catalogDropDown

			//- CATALOG BUTTON - MOBILE
			.center-cont
				button.catalog-btn.btn.btn-action.btn-oval.btn-ico
					img.catalog-btn__ico(src=icoSrc + 'burger-wide.svg')
					span Каталог

